body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 0;
}

h3 {
    margin: 0;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: end;
    gap: 16px;
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 5;
}

.content-signup {
    flex: 2;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.header {
    flex: 4;
    padding: 16px 0 0 0;
    display: flex;
    flex-direction: column;
}

.header,
.footer {
    color: white;
    background-color: #1F2937;
}

.header-top {
    align-items: baseline;
}

.header-bottom {
    flex: 1;
    align-items: center;
}

.header-top,
.header-bottom {
    display: flex;
    justify-content: center;
    gap: 64px;
}

.header-top > *,
.header-bottom > * {
    flex: 0 1 420px; 
}

p {
    margin: 0;
}

.header-bottom img {
    width: 400px;
    height: 200px;
}

.header-bottom p {
    margin-bottom: 12px;
}

.logo-text {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}
.header-text {
    font-size: 18px;
    color: #E5E7EB;
}
.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.blue-button {
    font-size: 16px;
    font-weight: bold;
    background-color: #3882F6;
    color: white;
    border: none;
    padding: 8px 26px;
    border-radius: 5px;
}

.content-info {
    flex: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.content-quote {
    flex: 3;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-signup {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-quote > div {
    width: 800px;
}

.quote-text {
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;
}

.quote-author {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    padding-right: 32px;
}

.info-images {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.info-images div {
    flex: 0;
    text-align: center;
}

.info-images p {
    color: #1F2937;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.image-wrapper {
    height: 120px;
    width: 120px;
    border: solid #3882F6 3px;
    border-radius: 10px;
    margin-bottom: 8px;
}

.signup-wrapper {
    background-color: #3882F6;
    color: white;
    width: 942px;
    padding: 32px 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.signup-wrapper button {
    border: solid 2px white;
}